
@font-face {
    font-family: 'Secret Font';
    src: url('1.TTF');
  }


ul{
    width: 800px;
    height: 30px;
    line-height: 30px;
    background-color: #8888cc;
    font-family: 'Secret Font'
}/* 对导航栏的整体样式进行设置 */
ul li{
    list-style: none;
    float: left;
}/* 删除列表的样式并设置浮动 */
a{
    color: white;
    padding: 20px;
    margin: 0px;
    text-decoration: none;
    opacity: 0.9;
}/* 设置a标签的样式 */

.nav1 {
    position: relative;/* 设置相对定位 */
    display: inline-block;/* 让元素具有块级元素和行内元素的特性,即将块级元素转化为内联元素 */
}

.nav2 {
    display: none;/* 将某元素隐藏起来 */
    position: absolute;/* 绝对定位 */
    background-color: #f9f9f9;
    min-width: 81px;/* 最小宽度 */
}

.nav2 a {
    color: black;
    padding: 12px 16px;
    display: block;/* 将a标签设置为块级标签 */
}

.nav2 a:hover {
    background-color: #da8181
}/* 鼠标悬浮时的颜色 */

.nav1:hover .nav2 {
    display: block;
}/* 鼠标悬浮在元素上时,变为块级标签 */

.nav1:hover,li:hover{
    background-color: #12adb8;
}


/* 下面是大按钮 */
/* 悬停添加箭头图标 */
.niceButton5 {
    display: inline-block;
    border-radius: 20px;
    background-color: #8888cc;
    border: none;
    color: #ffff;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 18px;
    width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
    font-family: 'Secret Font';
  }
  .niceButton5 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .niceButton5 span::after {
    content: ">";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .niceButton5:hover span {
    padding-right: 30px;
  }
  .niceButton5:hover span::after {
    opacity: 1;
    right: 0;
  }
  






/* 下面是小按钮 */
  .niceButton3 {
    background-color: #8888cc;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Secret Font'
  }
  .niceButton3:hover {
    background-color: #fff;
    color: #1795bb;
    border: 1px solid #ccc;
    padding: 20px 40px;
  }


/* 次元幻想新界面 */

.次元幻想 {
    /* 去边框 */
  border:none;

  width: 360px;
  height: 100px;
  background: url(img/options_backtogamebutton0.png);

  font-size: 28px;
  font-weight: 400;
  font-family: 'Secret Font';
}

 .次元幻想:hover {
  /* 鼠标悬停时 */
  width: 360px;
  height: 100px;
  background: url(img/options_backtogamebutton2.png);
  font-size: 27px;
  font-weight: 400;
}






.次元幻想2 {
  /* 去边框 */
border:none;

width: 360px;
height: 100px;
background: url(img/options_backtogamebutton0.png);

font-size: 28px;
font-weight: 400;
font-family: 'Secret Font';
}

.次元幻想:hover {
/* 鼠标悬停时 */
width: 360px;
height: 100px;
background: url(img/options_backtogamebutton2.png);
font-size: 27px;
font-weight: 400;
}






